/************Reset***************/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/***************************************/

/***************Input type**************/
.input-underline{
    border: 0;
    outline: none;
    border-bottom: 1px solid grey;
    width: 35%;
}

.input-createAcc{
    width: 400px;
    height: 40px;
}
/***************************************/


/*****************NavBar******************/
.navbar-toggler:hover{
    background-color: #c8ebf0;
}

.logo{
    margin-left: 15px;
    height: 75px;
}

.nav-tabs li:active{
    background-color: #8cc6cf;
}
/***************************************/



/* Change the padding from 10% to 5%-ThuyDuong*/
.container-fluid{
    padding: 5% 10%;
}

.outline-none{
    outline: none !important;
}
/*****************Side-Bar******************/
/* Stying for side Bar in Account Page*/
/* Change the height to 100 vmax to background color cover all page and add mt-1 to bring to specific container- Thuy Duong */
#sideBar{
    width: 300px;
    height: 100vmax;
}

#sideBar a{
    width: 300px;
}
/* Styling the title in report Activity -Thuy Duong */
.mt-1 .container-fluid h5{
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#start-btn{
    margin: 5% 37%;
}
/***************************************/

/*****************Search-Bar******************/
.w-search-cover{
    width: 750px;
    border: 1px solid #00ACC8;
}

.w-search-bar{
    border: 0;
    outline: none;
    width: 690px;
}

.search-icon{
    width: 25px;
    height: 25px;
}
/***************************************/

/******Background and text color********/
.bg-Blue{
    background-color: #00ACC8;
}

.bg-lightBlue{
    background-color: #c8ebf0 !important;
}

.text-Blue{
    color: #00ACC8;
}

/***************************************/


/**********Button styling***************/
.logout{
    position:absolute;
    bottom: 30px;
}


.btn {
    font-size: 20px;
    background-color:#00ACC8 ;
    width: 150px;
    height: 50px;
    margin-bottom: 0px 100px ;
}
.btn-action{
    color: #fff;
    width: 200px;
    padding-top: 12px;
    margin: 0px 10px 0px 10px;
}

.btn-newClient{
    background-color: #83E5F5;
    font-size: 18px;
}

.btn-contact{
    background-color: #31CDE7;
}
/***************************************/

/*********Box Contain*********/
.boxContent {
    width: 500px;
    background-color: #c8ebf0;
    border-radius: 10px;

}
.boxContentSearch {
    width: 1000px;
    background-color: #c8ebf0;
    border-radius: 10px;

}
.boxContent button{
    margin: 10px 0px 10px 125px;
}

.boxSurvey{
    width: 670px;
    background-color: #c8ebf0;
    border-radius: 10px;
}

.header-client{
    width: 300px;
    height: 50px;
    background-color: #E4F5F8;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid rgb(173, 163, 163);
}

.header-client-list{
    width: 400px;
    height: 50px;
    background-color: #E4F5F8;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid rgb(173, 163, 163);
}

.box-client{
    width: 300px;
    height: 500px;
    background-color: #E4F5F8;
    border-top: none;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.box-client-list{
    width: 400px;
    height: 500px;
    background-color: #E4F5F8;
    border-top: none;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}
.custom-container {
    max-width: 1200px; /* Increase the max-width to make the container wider */
    margin: 0 auto; /* Center the container horizontally */
}

.dropdown-item button {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    margin-right: 10px;
  }

.dropdown-item button:last-child {
margin-right: 0;
}


#client_Info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
/***************************************/


.account{
    margin: 50px 0px 0px 235px;
}

.account a{
    font-size: 24px;
    color: #00ACC8;
    text-decoration: none;
}


#main{
    display: inline-block;

}

#answer{
    width: 500px;
    height: 60px;
    margin-top: 120px;
    margin-left: 100px;
}

/*Not release class*/
.file-upload > input{
    display: none;
}

.table-blue{
    background-color: #E4F5F8;
}
/****************************/


