*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    
}


nav {
    background-color: #00ACC8;
    height: 75px;
    width: 100%;
}


nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 5px 20px;
}

nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.logo{
    margin-left: 15px;
}

.main_text{
    width: 1100px;
    text-align: center;
    margin: 250px 0px 250px 0px;
}

.main_text h1{
    color: #00ACC8;
    margin: 0px 200px 50px 200px;
    font-size: 36px;
}

.main_text h2{
    margin: 0px 150px 50px 150px;
}

.main_img{
    float: right;
    margin: 150px 250px 125px 250px;

}

.btn {
    font-size: 20px;
    background-color:#00ACC8 ;
    width: 150px;
    height: 50px;
    margin-bottom: 0px 100px ;
}

.boxContent {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 700px;
    height: 700px;
    background-color: #E4F5F8;

}

.inputForm_S{
    width: 200px;
    height: 40px;
    border: 2px solid #00ACC8;
;
}

.inputForm_M{
    width: 400px;
    height: 40px;
    border: 2px solid #00ACC8;
}
.question{
    margin-top: 60px;
    text-align: center;
}
.answer, .answer1{
    height: 400px;
}

.answer{
    display: flex;
    position: relative;
    justify-content:center;
}

.answer1{
    text-align: left;
    justify-content: center;
    padding-left: 200px;
    padding-top: 90px;
    font-size: 18px;
}
.answerForm{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.surveyBtn{
    margin-top: 150px;
    display:flex;
    justify-content: space-around;
}
.surveyBtn1{
    margin-top: 0;
    display:flex;
    justify-content: space-around;
}

.login{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.login label{
    font-weight: bold;
}
.login button{
    margin-left: 120px;
    margin-bottom: 10px;
}

.login a{
    margin-left: 140px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00ACC8;
    font-size: 15px;
}

.account{
    margin: 50px 0px 0px 235px;
}

.account a{
    color: #00ACC8;
    text-decoration: none;
}

.forgotPass{
	display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.forgotPass label{
    font-weight: bold;
    margin-bottom: 10px;
}

.forgotPass #email{
    margin-bottom: 90px;
    width: 500px;
}

.forgotPass a{
    margin-right:195px;
}

.asterisk{
    color: red;
}

.createForm{
    margin-left: 20px;
}

.createForm form{
    margin: 20px;
}
.createForm h1{
    font-weight: 600;
    margin: 50px 0px 50px 0px;
}

.createForm h5{
    color: #00ACC8;
    margin: 0px 0px 20px 0px;
}

.createForm p{
    margin-left: 30px;
}

.createForm #fname, #mname, #lname{
    margin-right: 50px;
}

.createForm #bday{
    margin-left: 19px;
    margin-right: 350px;
}

.createForm #address{
    margin-left: 19px;
}

.createForm #city{
    margin-left: 61px;
    margin-right: 50px;
}

.createForm #state, #zip{
    margin-right: 50px;
}

.createForm #phone{
    margin-left: 41px;
}

.createForm #email{
    margin-left: 90px;
}

.createForm #password{
    margin-left: 60px;
}


#main{
    display: inline-block;
    
}

#answer{
    width: 500px;
    height: 60px;
    margin-top: 120px;
    margin-left: 100px;
}

#email{
    width: 400px;
    height: 40px;
}

#password, #confirmPassword{
    width: 400px;
    height: 40px; 
}

#msform {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }

  #msform fieldset {
    background: #ade8f1;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  
  #msform input[type=text] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }

  #msform label {
    font-family: montserrat;
    font-size: 13px;
  }
  
  #msform .action-button {
    width: 100px;
    background: #00ACC8;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #00ACC8;
  }
  
  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 10px;
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #2C3E50;
    margin-bottom: 20px;
  }

  



